- name: Instalar Prometheus
  apt:
    name: prometheus
    state: present
    update_cache: yes
  become: true

- name: Plantillar /etc/prometheus/prometheus.yml
  template:
    src: prometheus.yml.j2
    dest: /etc/prometheus/prometheus.yml
    owner: prometheus
    group: prometheus
    mode: "0644"
  notify: Restart Prometheus
  become: true

- name: Asegurar Prometheus habilitado y corriendo
  service:
    name: prometheus
    state: started
    enabled: true
  become: true
