- name: Instalar node_exporter
  apt:
    name: prometheus-node-exporter
    state: present
    update_cache: yes
  become: true

- name: Asegurar node_exporter habilitado y corriendo
  service:
    name: prometheus-node-exporter
    state: started
    enabled: true
  become: true
