- name: Instalar Nginx
  apt:
    name: nginx
    state: present
    update_cache: yes
  become: true

- name: Asegurar servicio Nginx habilitado y corriendo
  service:
    name: nginx
    state: started
    enabled: true
  become: true

- name: Plantilla de index.html (simple)
  copy:
    dest: /var/www/html/index.html
    content: |
      <!doctype html>
      <html>
      <head><meta charset="utf-8"><title>DataExplorer</title></head>
      <body>
        <h1>DataExplorer - Nginx OK</h1>
        <p>Servidor: {{ inventory_hostname }}</p>
      </body>
      </html>
    owner: www-data
    group: www-data
    mode: "0644"
  become: true
