global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Prometheus se monitorea a sí mismo
  - job_name: 'prometheus'
    static_configs:
      - targets:
          - "localhost:{{ prometheus_port | default(9090) }}"

  # Node Exporter (server y monitor)
  - job_name: 'node_exporter'
    static_configs:
      - targets:
{% for tgt in prometheus_targets_node_exporter %}
          - "{{ tgt }}"
{% endfor %}

  # (Opcional) Nginx exporter si algún día lo agregas
  - job_name: 'nginx'
    static_configs:
      - targets:
{% for tgt in prometheus_targets_nginx %}
          - "{{ tgt }}"
{% endfor %}

  # Blackbox HTTP: medir latencia del sitio Nginx
  - job_name: 'blackbox_http'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for tgt in prometheus_targets_blackbox %}
          - "{{ tgt }}"
{% endfor %}
    relabel_configs:
      # La URL de destino real va en __param_target
      - source_labels: [__address__]
        target_label: __param_target
      # Instancia bonita (la URL)
      - source_labels: [__param_target]
        target_label: instance
      # __address__ apunta al blackbox exporter
      - target_label: __address__
        replacement: "localhost:{{ blackbox_exporter_port | default(9115) }}"

  - job_name: 'blackbox_http'
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for tgt in prometheus_targets_blackbox %}
          - "{{ tgt }}"
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: "localhost:{{ blackbox_exporter_port | default(9115) }}"
